*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{

    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    /* height: 550px; */
}
/* body{
    text-align: center;

} */